@model WebApp.Models.Storage.Details.AvereClusterDetailsModel

<div class="form-section">
    <div class="section-title">
        <span class="step-index">2</span>
        <div class="step-header">
            <h3>@ViewBag.DisplayName Configuration</h3>
            <p>@ViewBag.Description</p>
        </div>
    </div>
    <div class="section-wrapper">
        <div class="section-bar"></div>
        <div class="section-content">
            <div class="form-element">
                <label>Something</label>
                <p>No model for Avere as yet</p>
            </div>
        </div>
    </div>
</div>

