@model WebApp.Models.Storage.Details.AssetRepositoryOverviewModel

<div class="form-footer">
    <div class="button-bar">
        <button type="button" onclick="performDelete('Storage', 'Delete', '@(Model.Name)')">Delete Config <i class="fa fa-trash"></i></button>
    </div>
</div>
