<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <!-- 1 GB -->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="true" stdoutLogFile=".\logs\log.log">
      <environmentVariables />
    </aspNetCore>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <system.web>
    <httpRuntime executionTimeout="180" maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="8192" />
  </system.web>
</configuration>