@{
    ViewData["Title"] = "Azure Render Hub";
}

<h2>Azure Render Hub</h2>
<p>
    Main landing page. Maybe an overview of everything in here. But that is open for discussion.
</p>
<p>&nbsp;</p>
<ol>
    <li><a asp-controller="Environments" asp-action="Step1">Configure one or more render hub environment</a></li>
    <li><a asp-controller="Pools" asp-action="New">Create a pool in your environment</a></li>
    <li>Render ... </li>
</ol>
