
<div class="page-header">
    <h2>Add a new storage configuration</h2>
    <p>Setup a storage configuration to manage assets in an Avere Cluster, an Azure Files Share, or a NFS File Server.</p>
</div>