@model WebApp.Models.Environments.Create.AddEnvironmentFinalizeModel;
@{
    ViewBag.Title = "Add Environment";
}

@section Breadcrumb 
{
    <a asp-controller="Environments" asp-action="Index">Environments</a> &gt;
    <span>New</span>
}

@await Html.PartialAsync("Environments/Create/CreateFormHeaderPartial")

<form method="post">
    @await Html.PartialAsync("Menu/EnvironmentSubMenu", Model, new ViewDataDictionary(ViewData)
    {
        { "Step", 5 }
    })
    
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EnvironmentName)
    
    <div asp-validation-summary="ModelOnly" class=""></div>
    <div class="form-section">
        <div class="section-title">
            <span class="step-index">5</span>
            <div class="step-header">
                <h3>Packages</h3>
                <p>Select the packages to setup the render farm</p>
            </div>
        </div>
        <div class="section-wrapper">
            <div class="section-bar"></div>
            <div class="section-content">
                <div class="form-element">
                    <label asp-for="EnvironmentName">Render farm name</label>
                    <input asp-for="EnvironmentName" value="@Model.EnvironmentName" />
                    <span asp-validation-for="EnvironmentName" class=""></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <div class="summary"></div>
        <div class="button-bar">
            <a class="button" asp-controller="Environments" asp-action="Step4" asp-route-envId="@Model.EnvironmentName">Previous</a>
            <input type="submit" class="" value="Save" formaction="Step6" />
            <input type="submit" class="" value="Next : Storage" formaction="Step5" />
        </div>
    </div>
</form>
